.account {
  flex: 5;
}

.accountWrapper {
  padding: 30px 20px;
  width: 70%;

  margin: 0px -70px;
}

.accountTop {
  display: flex;
}

.accountTopLeft {
  flex: 2;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.accountTopRight {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.topRightHeader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.topRightHeaderProfile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.userName {
  font-size: 22px;
  font-weight: 400;
}

.editProfile {
  margin: 0px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(44, 40, 40);
  color: white;
  width: 130px;

  font-size: 15px;
  padding: 8px 20px;
}

.topRightFollow {
  margin-top: 20px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

.accountDescription {
  margin-top: 20px;
  font-size: 16px;
}

.accountPosts {
  width: 70%;
}

.accountAvatar {
  height: "130px";
  width: "130px";
}
@media only screen and (max-width: 600px) {
  .account {
    width: 100%;
  }
  .accountPosts {
    width: 100%;
  }

  .topRightHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .topRightHeaderProfile {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .topRightHeaderOptions {
    display: flex;
  }

  .editProfile {
    margin: 0px;
    margin-right: 5px;
  }

  .accountPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accountTopRight {
    align-items: flex-start;
  }

  .topRightFollow {
    width: 90%;
    margin-right: 0px;
  }

  .accountWrapper {
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .accountPosts {
    width: 100%;
  }

  .accountAvatar {
    height: "130px";
    width: "130px";
  }
}
